
# Ignore Logs
logs
*.log

# Ignore the build directory
/data

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*

# Ignore py cache files
__pycache__/

